<div id="start">
    <h3 id="start-close" class="absolute start-close">x</h3>
    <div class="absolute tes text-center">
        <img src="<%="user_images/soekarno.webp"%>" alt="">
        <div class="quotes josefinsansBold">
            <h3 class="mt-2">Bangsa yang besar adalah bangsa yang menghargai jasa pahlawannya</h3>
            <h6>~ Ir. Soekarno ~</h6>
        </div>
    </div>
</div>