<div class="container">
    <div class="trigger-mode">
        O
    </div>

    <header>
        <div class="top m-relative">
            <div class="top-left">
                <h4>Rizky Hermawan</h4>
                <h6>Web Development</h6>
                <hr>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
            </div>

            <div class="top-right m-absolute">
                <div class="circle-img m-absolute shadow"></div>
                <img src="http://127.0.0.1:3000/user_images/1.png" alt="Me">
            </div>
        </div>
    </header>

    <main>

    </main>
</div>