/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* bootstrap hack=========================================================================================== */

* {
    box-sizing: border-box;
}

.container {
    padding-top: 7rem;
    max-width: unset !important;
    width: 100%;
}

/* bootstrap hack=========================================================================================== */

/* define class ============================================================================================ */
.container-dark {
    
}

.josefinsansBold {
    font-family: 'josefinsans-bold';
}

.josefinsans {
    font-family: 'josefinsans-regular';
}

.f3d {
    font-family: '3dumbregular';
    text-shadow: 0 3px 3px #ff0000;
}

.m-relative {
    position: relative;
}

.m-absolute {
    position: absolute;
}

.justify-5 {
    justify-content: start
}

.justify-6 {
    justify-content: space-between;
}

.t-white {
    color:whitesmoke
}

.t-shadow {
    text-shadow: 0 3px 3px rgb(0 0 0 / 50%);
}

/* define class ============================================================================================ */

p {
    margin-bottom: unset;
}

a {
    cursor: pointer;
}

header nav {
    background-color: whitesmoke;
}

nav img {
    width: 3rem;
}

nav .navbar-brand {
    font-size: smaller;
}

.top {
    margin-top: 4rem;
}

.my-logo {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

#start {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;
    top: 0;
    /* background: linear-gradient(45deg, rgb(24 24 24 / 50%), rgb(24 24 24 / 50%)), url('http://127.0.0.1:3000/user_images/indonesia.webp'); */
    background: linear-gradient(45deg, rgb(24 24 24 / 50%), rgb(24 24 24 / 50%)), url('https://heroes-77.herokuapp.com/user_images/indonesia.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#start .tes {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    animation: fadeup 3s ease;
}

#start-close {
    right: 3rem;
    top: 1rem;
    cursor: pointer;
    transition: .5s ease;
    padding: .5rem;
    z-index: 100;
}

#start-close:hover {
    transform: translateY(-10px);
}

#start img {
    width: 20rem;
}

#start-close,
.quotes h6,
.quotes h3 {
    text-shadow: 0 3px 3px #00000096;
    color: white;
}

#notice,
#notice_form {
    padding: .5rem;
    background-color: #dbdbdb;
    border-radius: .2rem;
}

#notice_form {
    display: none;
}

@font-face {
    font-family: 'josefinsans-bold';
    src: url('https://heroes-77.herokuapp.com/fonts/josefinsans-bold.woff');
        /* url('http://127.0.0.1:3000/fonts/josefinsans-bold.woff'); */
}

@font-face {
    font-family: 'josefinsans-regular';
    src: url('https://heroes-77.herokuapp.com/fonts/josefinsans-regular.woff');
            /* url('http://127.0.0.1:3000/fonts/josefinsans-regular.woff'); */
}

@font-face {
    font-family: '3dumbregular';
    src: url('https://heroes-77.herokuapp.com/fonts/3dumb-webfont.woff') format('woff');
        /* url('http://127.0.0.1:3000/fonts/3dumb-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        top: 100%;
    }

    100% {
        opacity: 100%;
        top: 50%;
    }
}

@media (max-width: 567px) {

    .justify-6,
    .justify-5 {
        justify-content: center !important;
    }

    .m-container {
        background: linear-gradient(45deg, rgb(237 236 236 / 50%), rgb(237 236 236 / 50%));
    }
}